<!DOCTYPE html> 
<html> 
<head> 
    <title>Home Page</title> 
  
    <style type="text/css" media="screen"> 
        body
        {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 3em;
        }
    </style> 
</head>
<body>
    <center>
        <h1>This Is Home Page...</h1>
    </center>

    <ul> 
        <li>
            <a href="/generate_bonafide_certificate/14">
                Bonafide Certificate
            </a>
        </li>
        <li>
            <a href="/generate_leaving_certificate">
                Leaving Certificate
            </a>
        </li>
        <li>
            <a href="/generate_domicile_certificate">
                Domicile Certificate
            </a>
        </li>
    </ul> 
</body> 
</html>