<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaving Certificate</title>
    <style type="text/css">
        @page 
        {
            margin: 0px;
        }
        body 
        {
            font-family: 'Calibri', sans-serif;
            font-size: 15px;
            margin: 0px;
            margin: 2.5%;
        }
        .logo 
        {
            width: 100px;
            height: 100px;
            position: fixed;
            top: 45px;
            left: 10px;
            background-color: yellow;
        }
        .outer_table,.outer_tr,.outer_td
        {
            border: 5px dashed red;
            width: 100%;
        }
        .outer_table
        {
            border-collapse: collapse;
        }
        .table 
        {
            width: 100%;
        }
        .m-0 
        {
            margin: 0px;
        }
        .p-0_5 
        {
            padding: 5px;
        }
        .p-1 
        {
            padding: 10px !important;
        }
        .px-1 
        {
            padding: 0px 10px;
        }
        .mt-1 
        {
            margin-top: 10px;
        }
        .mt-2 
        {
            margin-top: 20px;
        }
        .font-bold 
        {
            font-weight: bold;
        }
        .border-2
        {
            border: 2px solid black !important;
        }
        .text-left
        {
            text-align: left;
        }
        .text-center 
        {
            text-align: center;
        }
        .text-right
        {
            text-align: right;
        }
        .inner_text
        {
            text-indent: 100px;
            line-height: 25px;
        }
        .bg-dark 
        {
            background-color: red;
            color: white;
        }
        .text-red
        {
            color: red;
        }
        .mb-1
        {
            margin-bottom: 10px;
        }
        .mt-0_3
        {
            margin-top: 3px;
        }
    </style>
</head>
<body>
    <table class="outer_table" style="border:2px solid black; border-collapse: collapse;">
        <tr class="outer_tr">
            <td class="outer_td">
                <table class="table p-1">
                    <tr>
                        <td width="20%" rowspan="4">
                            <!-- <img src="" class="logo"> -->
                        </td>
                        <td class="text-center" width="80%">
                            <h4 class="m-0 mt-1">The Modern HeighSchool Trust (E-846)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <h1 class="m-0 text-red">H B Mehta Vallabhnagar High School</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <h4 class="m-0">(Higher Secondary Section)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <h4 class="m-0">Odhav Road, Ahmedabad - 382415</h4>
                        </td>
                    </tr>
                </table>
                <table class="table px-1">
                    <tr>
                        <td><h4 class="m-0">H.S.C. Index No. 01.0303</h4></td>
                    </tr>
                    <tr>
                        <td><h4 class="m-0">Reg. No. : 01-158-0079 Date : 1-6-1962</h4></td>
                    </tr>
                </table>
                <table class="table p-1">
                    <tr>
                        <td width="30%"></td>
                        <td class="text-center" style="padding-left:10px;padding-right:10px;">
                            <h3 class="m-0 p-1 bg-dark">LEAVING CERTIFICATE</h3>
                        </td>
                        <td width="30%"></td>
                    </tr>
                    <tr>
                        <td class="border-2 p-0_5">G.R. No. : </td>
                        <td></td>
                        <td class="border-2 p-0_5">Sr. No. : </td>
                    </tr>
                </table>
                <table class="table px-1">
                    <tr>
                        <td width="40%" class="border-2 p-0_5">
                            School UID No. :
                        </td>
                        <td width="60%" style="padding:0px;">
                            <table class="table" style="border-collapse: collapse;border-spacing: 0px;">
                                <tr>
                                    <td class="border-2" style="padding:4px;">Student UID No</td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                    <td class="border-2" width="3.8%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table" style="padding:10px;">
                    <tr>
                        <td class="border-2" width="50%">
                            1. Full Name Of The Student (Surname First) <br>
                            ૧. વિધ્યાર્થી નું પુરું નામ (અટક પ્રથમ)
                        </td>
                        <td class="border-2" width="50%">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            2. Mother's Name <br>
                            ૨. માતાનું નામ
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            3. Religion Caste & Sub Caste <br>
                            ૩. ધર્મ, જ્ઞાતિ અને પેટા જ્ઞાતિ
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            4. Place Of Birth (With Taluka & District) <br>
                            ૪. જન્મ સ્થળ ( તાલુકા, જીલ્લા સહિત )
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            5. Date Of Birth (In Figures and words as per Christian Calender) <br>
                            ૫. ઈસવીસન અનુસાર જન્મતારીખ ( આંકડા અને શબ્દોમાં )
                        </td>
                        <td class="border-2" width="50%" style="vertical-align:top;">
                            <table width="70%" style="border-collapse: collapse;border-spacing: 0px;">
                                <tr>
                                    <td width="4%"></td>
                                    <td class="border-2" height="25px"></td>
                                    <td class="border-2"></td>
                                    <td width="4%"></td>
                                    <td class="border-2"></td>
                                    <td class="border-2"></td>
                                    <td width="4%"></td>
                                    <td class="border-2"></td>
                                    <td class="border-2"></td>
                                    <td class="border-2"></td>
                                    <td class="border-2"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            6. Last School Attended <br>
                            ૬. છેલ્લે જે શાળામાં અભ્યાસ કર્યો તે
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            7. Date Of Admission (with std.) <br>
                            ૭. દાખલ થયા તારીખ ( ધોરણ સહિત )
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            8. Progress ૮. અભ્યાસ
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            9. Conduct ૯. વર્તણુંક
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            10. Date Of Leaving School ૧૦. શાળા છોડયા તારીખ
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            11. Standard in Which Studying ? Since When ? <br>
                            ૧૧. ક્યા ધોરણમાં અભ્યાસ કરે છે ? ક્યાર થી ?
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            12. Reason For Leaving School <br>
                            ૧૨. શાળા છોડવાનું કારણ
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            13. Days Of Attendance ૧૩. હાજર દિવસ
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="border-2" width="50%">
                            14. Remarks ૧૪. વિશેષ નોંધ
                        </td>
                        <td class="border-2" width="50%">
                            
                        </td>
                    </tr>
                </table>
                <table class="table px-1 mb-1">
                    <tr>
                        <td>Certified that the above information is true in accordance with the school register</td>
                    </tr>
                </table>
                <table class="table px-1" style="margin-top:50px;">
                    <tr>
                        <td width="25%" class="text-red font-bold">Date : </td>
                        <td width="20%" class="text-red font-bold">Clerk</td>
                        <td width="30%" class="text-red text-center font-bold">Class Teacher</td>
                        <td width="25%" class="text-red text-center font-bold">Principal</td>
                    </tr>
                </table>
                <table class="table px-1">
                    <tr>
                        <td width="6%">
                            <h6 class="m-0">N.B. :</h6>
                        </td>
                        <td>
                            <h6 class="m-0">No Change in any entry in this Leaving Certificate shall be made except by the issuing authority Any</h6>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <h6 class="m-0">Infringement of this requirements is liable to involve the imposition of penalty such as that of rustication.</h6>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>